.about-content {
  padding: 60px 0 30px !important;
  color: var(--slate) !important;
  text-align: left;
}

.about-content span {
  color: var(--green);
}

.about-header {
  /* padding-top: 80px !important; */
}

.heading {
  font-size: 40px !important;
  color: var(--light-slate) !important;
}

.about-description {
  color: var(--slate) !important;
  padding-bottom: 20px !important;
  text-align: center;
  padding-left: 50px !important;
}

.about-body {
  padding-top: 30px;
  font-size: 18px !important;
  padding-left: 45px !important;
}

.skillset {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
  padding-bottom: 20px !important;
  /* padding-left: 45px !important; */
}

.tech-icons {
  margin: 20px !important;
  font-size: 50px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  text-align: center !important;
  overflow: hidden !important;
  display: table !important;
  transition: all 0.3s ease 0s !important;
}

.tech-icons:hover {
  overflow: hidden !important;
  transform: scale(1.05) !important;
  border: 2.2px solid var(--green) !important;
  color: var(--green) !important;
}

@media (max-width: 767px) {
  .about-body {
    font-size: 17px !important;
  }

  .skillset {
  }

  .tech-icons {
    /* margin: 20px !important; */
    /* flex: 1; */
    font-size: 70px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    max-width: 100px !important;
    min-width: 100px !important;
  }
}
