@import "./global.scss";

.active {
  color: $primary-color;
}

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: $nav-color;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  overflow: hidden;

  .brand {
    color: $primary-color;
    font-size: 28px;
    font-weight: 500;
    margin-left: 150px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 150px;
    column-gap: 20px;
    overflow: hidden;

    li {
      position: relative;
      list-style: none;
      padding: 10px 20px;

      a {
        position: fixed;
        color: $text-color;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.3s ease-out 0s;
        position: relative;
        z-index: 1;

        &:hover {
          color: $primary-color;

          &::after {
            position: relative;
            display: block;
            height: 5px;
            width: 100%;
            border-radius: 16px;
            background: $primary-color;
            bottom: -4px;
            left: 0px;
            z-index: -1;
            transition: all 0.3s ease-out 0s;
          }
        }

        &:hover::after {
          content: "";
          position: relative;
          display: block;
          height: 5px;
          width: 100%;
          border-radius: 16px;
          background: $primary-color;
          bottom: -4px;
          left: 0px;
          z-index: -1;
          transition: all 0.3s ease-out 0s;
        }
      }
    }
  }

  .toggle {
    color: $primary-color;
    display: none;
    font-size: 34px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 0px 30px;
    margin: auto;

    .brand {
      margin: 0px;
    }

    ul {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-right: 0px;
      top: 70px;
      right: -45%;
      width: 45%;
      height: 100vh;
      background: $black;
      background-color: $nav-color;
      transition: transform 0.35s ease-in-out;

      &.active {
        right: 0px;
        transition: all 0.5s ease;
      }

      li {
        margin: 22px 0px;
      }
    }

    .toggle {
      display: block;
    }
  }
}
