html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App {
  background-color: var(--navy);
  background-color: #100c08 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: var(--green);
}

@media (prefers-reduced-motion: no-preference) {
}
