@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
